
.navigation-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#3EFF8B;
    width: 100%;
}

.navigation-elements{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    height: 55px;
}

.navigation-elements a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #333;
}


.navigation-elements a:hover{
    text-decoration: underline;
    color: #000000;
}

.app-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-image: linear-gradient(#31D843,#3EFF8B);
    color: #333;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo i{
    font-size: 50px;
    padding: 25px;
}